html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(228, 212, 198);
}

.bookshelf {
    width: 1000px;
    height: 750px;
    background-color: rgb(102, 72, 45);
    border: 5px solid rgb(177, 122, 75);
    display: flex;
    flex-direction: column;
}

.shelf {
    background-color: rgb(102, 72, 45);
    border: 5px solid rgb(177, 122, 75);
    flex: 1;
    display: flex;
}

.book {
    flex: 1;
    box-sizing: border-box;
    width: 81.67px;
    height: 236.67px;
}

.empty:hover {
    background-image: url(./images/plus-lg.svg);
    background-repeat: no-repeat;
    background-color: rgba(90, 61, 36, 0.486);
    background-size: contain;
    background-position: center;
    cursor: grab;
}

dialog {
    background-color: rgb(228, 212, 198);
    border: 4px solid rgba(90, 61, 36, 0.486);
    height: 450px;
    width: 350px;
    justify-self: center;
}

.book p {
    font-size: 24px;
    height: 81.67px;
    max-width: 206.67px;
    transform: rotate(270deg);
    position: relative;
    bottom: -77px;
    right: -2px;
    text-align: center;
    align-self: center;
    justify-self: center;
    overflow:hidden;
    text-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}   